# Build
target/
project/target/
project/project/
dependency-reduced-pom.xml

# IDE
.idea/
.vscode/
*.iml
.metals/
.bsp/
.bloop/

# Compiled
*.class
*.log

# Data files
data/

# OS
.DS_Store
Thumbs.db
